body {
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;
}

.top {
    display:flex;
    justify-content: space-between;
    padding: 15px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

li a{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 0;
    gap: 100px;
}

.text {
    width: 400px
}

.text,
li {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-size: 36px;
    font-weight:900;
    color: #1F2937;
    margin: 10px 0;
}

.gallery {
    flex-grow: 1;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 250px;
    display: flex;
    flex-direction:column;
    gap: 10px;
    align-items: center;
}

.description {
    text-align: center;
}

.text div{
    font-size: 48px;
    font-weight: 900;
}

.phrases {
    flex-grow: 1;
    background-color: #E5E7EB;
    padding: 50px 20vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font: 300;
    margin: auto;
    color: #1F2937;
}
.author {
    font-weight: 700;
    text-align: right;
}

#logo img{
    height: 80px;
    width: auto;
}

.image img{
    height: 300px;
    width: auto;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}

.pic{
    border: 3px solid blue;
    border-radius: 20px;
    height: 200px;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic img {
    height: 190px;
    width: 190px;
    border-radius: 20px;
}

.introduction button{
    border-color: none;
}

.signup {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    padding: 30px;
    border-radius: 10px;
    margin: 50px;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.registro {
    margin-left:100px;
}

.atention {
    font-weight: 700;
    margin-bottom: 5px;
}

.signup button{
    border-color: white;
    margin-right: 100px;
}

.footer {
    text-align: center;
    padding: 20px 0;
}